
@{
    ViewBag.Title = "DetailsIndex";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Content/registration.js"></script>


<h2>DetailsIndex</h2>
<input type="hidden" value="@ViewBag.ID" id="hdnid" />
<div class="container">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-6">
                <lable><b>Name-</b></lable>
                <span id="txtname"></span>

                <lable><b>Number-</b></lable>
                <span id="txtnumber"></span>


            </div>
            <div class="col-sm-6">
                <lable><b>City-</b></lable>
                <span id="city"></span>

                <lable><b>Address-</b></lable>
                <span id="texADD"></span>


            </div>

        </div>
        
    </div>
</div>






